* {
    font-family: 'Roboto', sans-serif;
}

nav {
    border-bottom: 2px solid black;
    padding: 16px;
    background-color: #FFA737;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: larger;
}

.navbar {
    color: white;
}

a:hover {
    color: green;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

h1 {
    color:forestgreen;
}

table tr:nth-child(2) {
    background-color:lightgrey;
}

table tr:nth-child(4) {
    background-color:lightgrey;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 10px;
    grid-template-areas: 'header';
}

.menu-items{
    grid-area: header;
}

img {
    height: 200px;
}

footer {
    /* fix footer position */
    background-color: #a7c957;
    position:absolute;
    padding: 2rem;
    bottom: 0px;
    height: 1rem;
    width: 100%;
}
